@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url("./assets/css/reset.css");
@import url("./assets/css/cabecalho.css");
@import url("./assets/css/banner.css");
@import url("./assets/css/produtos.css");
@import url("./assets/css/rodape.css");
@import url("./assets/css/login.css");
@import url("./assets/css/cadastro.css");
@import url("./assets/css/produtos-cadastrados.css");

:root {
    --azul: #2A7AE4;
    --azul-claro: #EAF2FD;
    --branco: #FFFFFF;
    --cinza-claro: #F5F5F5;
    --cinza-medio: #A2A2A2;
    --preto: #464646;

    --fonte: 'Raleway', sans-serif;
    --negrito: 700;
}

body {
    background-color: var(--cinza-claro);
    overflow-x: hidden;
}
